.athletic-form {
  margin-left: 0px;
  margin-right: 0px;
}
  
.pos, .height, .weight {
  width: 180px;
  border-radius: 3px;
}
  
.po, .he, .we, .pts {
  margin-top: 15px;
}
  
.col {
  display: inline-block;
}
  
.col, .dropdown {
  display: inline-block;
  margin: 2% 5%;
}

select {
  margin: 0px !important;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
}

option {
  color: black;
}

#skill-points {
  background-color: rgba(255, 255, 255, 0.05);
  width: 92px;
  height:22px;
  border-radius: 6px;
  border: 2px solid #1C1F26;
  text-align: center;
  color: white;
}

.submit-btn {
  width: 100px;
  border-width: 0px;
  border-color: #C7F650;
  border-radius: 8px;
  background-color: #0D6EFD;
  height: 30px;
  margin-top: 10px;
  color: white;
  transform: scale(1);
  transition: transform 0.5s linear, border-width 0.25s linear;
}

.submit-btn:hover {
  transform: scale(1.1);
  border: 2px solid #C7F650 ;
  transition: transform 0.5s, border-width 0.25s;
}

h6 {
  display: inline !important;
  text-align: center;
  margin-top: 15px !important;
  margin-bottom: 0px;
}
  